# Default ignored files
/shelf/
/workspace.xml
/csv-editor.xml
/dbnavigator.xml
/financeCompilerv3.5.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
